/*
 * Copyright 2019 Radiologics, Inc
 */

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.tab-container {
    overflow-x: auto;
}

.data-table-container {
    width: max-content;
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.scrollable-table td {
    word-break: break-word;
}

.scrollable-table td.launchTime {
    white-space: nowrap;
}

.scrollable-table tbody, .scrollable-table thead {
    display: block;
}
.scrollable-table tbody {
    overflow-y: auto;
}

.data-table-container .counts{
    margin:10px;
}

.bl-dropdown-menu{
    z-index: 1000;
    display:block;
    visibility: hidden;
    float: left;
    min-width: 10rem;
    width: max-content;
    padding: .5rem 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    top: 0px;
    left: 0px;
    position: absolute;
}
.bl-dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.workflows-callout span.close {
    float: right;
    cursor: pointer;
    margin: -8px -4px;
}
.workflows-callout {
    display: none;
    margin-top: 1em;
}


.section{
    margin-top: 1em;
}

.progressbar-div {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #f0f0f0;
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 2px;
}


@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-ms-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-o-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}

.progress-bar {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: normal;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    background-color: #2d69b8;;
    background-image: linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%,
    rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-done {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: normal;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    background-color: #2d69b8;;
    background-size: 1rem 1rem;
}