## Copyright 2019 Radiologics, Inc

#* @vtlvariable name="user" type="org.nrg.xdat.security.XDATUser" *#
#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#

<!--BEGIN /screens/XDATScreen_bulk_action.vm -->
<link rel="stylesheet" href="$content.getURI("scripts/xnat/plugin/containerService/commandUI.css")"></link>

<script type="text/javascript" src="$content.getURI("/scripts/xnat/ui/breadcrumbs.js")"></script>
<script type="text/javascript" src="$content.getURI("/scripts/lib/jquery-ui/jquery-ui.js")"></script>

<div id="breadcrumbs"></div>
<div id="statusbar"></div>

#if($xss)
    <textarea id="xss" style="display:none">$xss</textarea>
#end
#if($!timezoneOffset)
    <span id="timezoneOffset" style="display:none">$timezoneOffset</span>
#end
#if($!job)
    <span id="currentJob" style="display:none">$currentJob</span>
#end


#set($hide=true)
<script>
    XNAT.plugin.batchLaunch.workflowTable = getObject(XNAT.plugin.batchLaunch.workflowTable || {});
    XNAT.plugin.batchLaunch.workflowTable.sortable = true;
    XNAT.plugin.batchLaunch.workflowTable.days = -1;
</script>
#parse("/screens/workflow_table.vm")
<script type="text/javascript" src="$content.getURI("scripts/xnat/plugin/batchLaunch/bulklauncher.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xnat/plugin/batchLaunch/pipelineLauncher.js")"></script>

<div id="processing_tabs" class="yui-navset"></div>
<script type="text/javascript" src="$content.getURI("scripts/xnat/plugin/batchLaunch/batchLaunch-tabs.js")"></script>

<script type="text/javascript" src="$content.getURI("scripts/xnat/app/scanTable/selectableTableBehavior.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xnat/plugin/containerService/commandUiLauncher.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xnat/plugin/containerService/projectSearchLauncher.js")"></script>

<BR/>
<BR/>

<!--END /screens/XDATScreen_bulk_action.vm -->


